data/input/appresults/*/*.bam
data/input/appresults/*/*.bami
data/*

tmp/reference/hg19.*

tmp/scripts/.DS_Store
tmp/scripts/.Rhistory
tmp/scripts/install_samblaster.sh
tmp/scripts/alignment_pipeline.sh